<div id="modal-container">
    <div class="modal-background">
        <div class="modal">
            <div class="modal-header">
                <h4 class="modal-title">Create Deployment</h4>
            </div>
           
            <div class="modal-body">
                <!-- koLayout : remoteUrl -->
            </div> 

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-bind="asyncClick:ok" >Create</button>
                <button type="button" class="btn btn-default"  data-bind="asyncClick:cancel" >Cancel</button>
            </div>
 
        </div>
    </div>
</div>